@import '../../styles/globals';

:root {
  --secondary-border-color: #d0d5dd;
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 500;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease,
    opacity 0.2s ease,
    transform 0.2s ease-in-out;
  cursor: pointer;
  touch-action: manipulation;
  font-size: 1rem;
  user-select: none;

  /* Size variants */
  &__extra-small {
    padding: 0.5rem 1rem;
    font-size: var(--font-size-xs);
    border-radius: var(--border-radius-sm);
    min-height: 2rem;
  }

  &__small {
    padding: 0.75rem 1.25rem;
    font-size: var(--font-size-sm);
    border-radius: var(--border-radius-sm);
    min-height: 2.125rem;
  }

  &__medium {
    padding: 1rem 1.5rem;
    font-size: var(--font-size-md);
    border-radius: var(--border-radius-md);
    min-height: 2.25rem;
  }

  &__large {
    padding: 1.25rem 1.75rem;
    font-size: var(--font-size-lg);
    border-radius: var(--border-radius-md);
    min-height: 2.5rem;
  }

  &__extra-large {
    padding: 1.5rem 2rem;
    font-size: var(--font-size-xl);
    border-radius: var(--border-radius-md);
    min-height: 2.75rem;
  }

  /* Full width variant */
  &__full-width {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }

  /* Button variants */
  &__solid {
    transition: all 0.2s ease-in-out;
    color: var(--button-content-color);
    background-color: var(--button-background-color);
    transition: all 0.2s ease-in-out;

    @media (hover: hover) {
      &:hover {
        filter: brightness(85%);
        background-blend-mode: darken;
        transition: all 0.2s ease-in-out;
      }
    }

    @media (hover: none) {
      &:active {
        filter: brightness(85%);
        background-blend-mode: darken;
        transition: all 0.2s ease-in-out;
      }
    }

    &:focus {
      outline-color: transparent;
      outline-style: solid;
      box-shadow: 0 0 0 3px #f0f2f4;
    }
  }

  &__outline {
    background-color: transparent;
    border: 1px solid var(--secondary-border-color);
    color: var(--button-background-color);
    transition: all 0.2s ease-in-out;

    @media (hover: hover) {
      &:hover {
        background: var(--button-content-color);
        filter: brightness(90%);
      }
    }

    @media (hover: none) {
      &:active {
        &:hover {
          background: var(--button-content-color);
          filter: brightness(90%);
        }
      }
    }

    &:focus {
      outline-color: transparent;
      outline-style: solid;
      box-shadow: 0 0 0 4px var(--button-content-color);
      transition: box-shadow 0.2s ease-in-out;
    }
  }

  &__ghost {
    background-color: transparent;
    color: var(--button-background-color);
    transition: background opacity 0.2s ease-in-out;
    border: none;
    opacity: 0.8;

    @media (hover: hover) {
      &:hover {
        background: var(--button-content-color);
        filter: brightness(90%);
      }
    }

    @media (hover: none) {
      &:active {
        &:hover {
          background: var(--button-content-color);
          filter: brightness(90%);
        }
      }
    }

    &:focus {
      opacity: 1;
    }
  }
}
/* stylelint-disable */
.button-group {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-sm);

  &__attached {
    > button {
      border-radius: var(--border-radius-none);

      &:first-child {
        border-top-left-radius: var(--border-radius-sm);
        border-bottom-left-radius: var(--border-radius-sm);
      }

      &:last-child {
        border-top-right-radius: var(--border-radius-sm);
        border-bottom-right-radius: var(--border-radius-sm);
      }
    }
  }
  > button {
    border-radius: var(--border-radius-none);

    &:first-child {
      border-top-left-radius: var(--border-radius-sm);
      border-bottom-left-radius: var(--border-radius-sm);
    }

    &:last-child {
      border-top-right-radius: var(--border-radius-sm);
      border-bottom-right-radius: var(--border-radius-sm);
    }
  }

  &__solid {
    > button {
      &:not(:first-child) {
        margin-left: -1px;
      }
    }
  }

  &__outline {
    > button {
      &:not(:first-child) {
        margin-left: -1px;
      }
    }
  }

  &__ghost {
    > button {
      &:not(:first-child) {
        margin-left: -1px;
      }
    }
  }

  &__extra-small {
    > button {
      padding: 2px 6px;
      font-size: var(--font-size-xs);
    }
  }

  &__small {
    > button {
      padding: 4px 8px;
      font-size: var(--font-size-sm);
    }
  }

  &__medium {
    > button {
      padding: 6px 12px;
      font-size: var(--font-size-md);
    }
  }

  &__large {
    > button {
      padding: 8px 16px;
      font-size: var(--font-size-lg);
    }
  }

  &__extra-large {
    > button {
      padding: 8px 16px;
      font-size: var(--font-size-xl);
    }
  }
}
