.text {
  transition: color 0.2s ease;

  &__extra-small {
    font-size: 0.75rem;
  }

  &__small {
    font-size: 1rem;
  }

  &__medium {
    font-size: 1.5rem;
  }

  &__large {
    font-size: 2rem;
  }

  &__extra-large {
    font-size: 3rem;
  }
}
